<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CatchUp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../assets/logo-mini.jpeg">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="dashboard.html">
                    <img src="../assets/catch-up-logo.jpeg" alt="catch-up-logo" height="%" width="210">
                  </a>
              <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="friends.html"><i class="fas fa-user-friends"></i>Friends</a></li>
                  <li class="nav-item"><a class="nav-link" href="dashboard.html"><i class="fas fa-photo-video"></i>Feed</a></li>
                  <li class="nav-item"><a class="nav-link" href="groups.html"><i class="fas fa-users"></i>Groups</a></li>
                  <li class="nav-item"><a class="nav-link active" href="saved-posts.html"><i class="fas fa-bookmark"></i>Saved Posts</a></li>
                  <li class="nav-item"><a class="nav-link" href="survey-form.html"><i class="fas fa-comment-alt"></i>Feedback</a></li>
                  <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user-circle"></i>Profile</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="content">
        <div class="row">
            <div class="card">
                <img src="https://source.unsplash.com/200x200/?art&culture" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Randy Black</h4>     
                </div>
                    <div class="card-body m-0 p-0">
                        <a href=""><i class="fas fa-lg fa-thumbs-up"></i>24</script></a>
                        <a href=""><i class="fas fa-lg fa-comments"></i>2</script></a>
                        <a href=""><i class="fas fa-lg fa-share"></i></a>
                      </div>
              </div> 
              <div class="card">
                <img src="https://source.unsplash.com/200x200/?fashion" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Tony Mitchell</h4>     
                </div>
                <div class="card-body m-0 p-0">
                  <a href=""><i class="fas fa-lg fa-thumbs-up"></i>22</script></a>
                  <a href=""><i class="fas fa-lg fa-comments"></i>8</script></a>
                  <a href=""><i class="fas fa-lg fa-share"></i></a>
                </div>
              </div> 
              <div class="card">
                <img src="https://source.unsplash.com/200x200/?people" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Harry Chambers</h4>     
                </div>
                <div class="card-body m-0 p-0">
                  <a href=""><i class="fas fa-lg fa-thumbs-up"></i>33</script></a>
                  <a href=""><i class="fas fa-lg fa-comments"></i>2</script></a>
                  <a href=""><i class="fas fa-lg fa-share"></i></a>
                </div>
              </div> 
              <div class="card">
                <img src="https://source.unsplash.com/200x200/?nature" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Virgil Bates</h4>  
                </div>
                <div class="card-body m-0 p-0">
                  <a href=""><i class="fas fa-lg fa-thumbs-up"></i>65</script></a>
                  <a href=""><i class="fas fa-lg fa-comments"></i>3</script></a>
                  <a href=""><i class="fas fa-lg fa-share"></i></a>
                </div>
              </div> 
              <div class="card">
                <img src="https://source.unsplash.com/200x200/?portrait" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Reginald Joseph</h4>     
                </div>
                <div class="card-body m-0 p-0">
                  <a href=""><i class="fas fa-lg fa-thumbs-up"></i>44</script></a>
                  <a href=""><i class="fas fa-lg fa-comments"></i>3</script></a>
                  <a href=""><i class="fas fa-lg fa-share"></i></a>
                </div>
              </div> 
              <div class="card">
                <img src="https://source.unsplash.com/200x200/?film" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Thomas Reeves</h4>     
                </div>
                <div class="card-body m-0 p-0">
                  <a href=""><i class="fas fa-lg fa-thumbs-up"></i>50</script></a>
                  <a href=""><i class="fas fa-lg fa-comments"></i>7</script></a>
                  <a href=""><i class="fas fa-lg fa-share"></i></a>
                </div>
              </div> 
        </div>
        </div>
    </body>
    <div class="footer-container">
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-6 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <img src="../assets/catch-up-logo.jpeg" width="150" height="40">
            </a>
            <span class="text-muted">&copy; 2022 Company, Inc</span>
          </div>
      
          <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-2x fa-twitter"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-2x fa-instagram"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-2x fa-linkedin"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-2x fa-youtube"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-2x fa-pinterest"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fab fa-2x fa-reddit"></i></a></li>
          </ul>
        </footer>
      </div>
      </div>
</html>